<mat-toolbar color="primary">
  <mat-icon> notes</mat-icon>

</mat-toolbar>
<mat-toolbar color="primary" class="topHeader">
  <mat-icon>search</mat-icon>
  <p class="search">Search</p>

  <p class="lang">ENG
    <mat-icon>arrow_drop_down</mat-icon>
  </p>
  <mat-icon class="msg"> comment</mat-icon>
  <mat-icon class="notify">notifications_none</mat-icon>
  <p class="image"></p>
  <p class="name">Mahadev</p>
  <mat-icon class="dropDown">arrow_drop_down</mat-icon>
</mat-toolbar>
<mat-toolbar class="leftSidebar">
  <mat-icon>pie_chart</mat-icon>
  <mat-icon>equalizer</mat-icon>
  <mat-icon>queue</mat-icon>
  <mat-icon>check</mat-icon>
  <mat-icon class="settingIcon">settings_applications</mat-icon>
  <mat-icon>save_alt</mat-icon>
</mat-toolbar>

